/* Hide main nav and replace with mobile nav */

@media only screen and (max-width: 1015px) {
  nav {
    align-items: center;
  }

  #nav-links {
    display: none;
  }

  .mobile-buttons-container {
    display: inherit;
  }

  #open-mobile-menu {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px;
  }

  #mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: var(--customblue);
    transition: 0.5s;
    display: block;
    overflow-x: hidden;
  }

  #mobile-search {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px;
  }

  .top-mobile-links {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-mobile-links .logo {
    width: 20vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
  }

  .top-mobile-links .logo a img {
    height: 7vh;
  }

  .one-image img,
  .two-images img {
    border-radius: 25px;
  }

  #close-mobile-menu {
    display: block;
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px;
  }

  #mobile-menu .top-mobile-links .logo a {
    padding: 0;
    padding-top: 4px;
  }

  #mobile-menu li {
    padding: 20px;
    display: block;
  }

  #mobile-menu a {
    padding: 20px;
    font-size: 3rem;
    display: inline;
    color: white;
    font-family: "neue-haas-grotesk-display", sans-serif;
  }

  #mobile-menu .dropdownButton {
    font-size: 3rem;
  }

  #mobile-menu .has-mobile-submenu ul {
    display: none;
  }

  #mobile-menu .has-mobile-submenu.open ul {
    display: block;
  }
}

/* Drop hero image under main content */
@media only screen and (max-width: 1200px) {
  .hero-text {
    height: 20vh;
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }

  .hero-content {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 765px) {
  .flex-wrapper {
    flex-wrap: wrap;
  }

  .hero-content {
    flex-wrap: wrap;
  }

  .hero-text,
  .hero-image {
    width: 100%;
  }

  .hero-text {
    padding-top: 5vh;
    height: 30vh;
  }

  .hero-content-small .hero-text {
    height: 15vh;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    margin-bottom: 5vh;
  }

  .hero-image {
    height: 55vh;
    background-position: bottom right;
  }
}

/* Figures overflow */
@media only screen and (max-width: 1000px) {
  .figure span {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 880px) {
  .figure {
    width: 45%;
  }

  .figure span {
    font-size: 3rem;
  }
}

/* Panels overflow */

@media only screen and (max-width: 765px) {
  /* Intro text */
  h2.intro-text,
  p.intro-text,
  a.intro-text {
    margin: 0;
    margin-bottom: 5vh;
  }

  /* Video modal */
  .video-modal-thumbnail {
    margin: 0 5vw;
    height: 30vh;
    width: 90vw;
  }

  /* Panel */
  .panel {
    width: 100%;
    height: 85vh;
    margin-bottom: 5vh;
  }

  .panel-image {
    height: 40%;
  }

  /* Top figures */

  .top-figures {
    padding: 10vh 5vw 0;
  }

  /* Left right content */

  .left-right-content {
    width: 100%;
  }

  .left > img,
  .right > img {
    width: 100%;
    margin-bottom: 5vh;
  }

  .latest-news-content .flex-wrapper,
  .related-news .flex-wrapper {
    flex-wrap: wrap;
  }
}

/* Contact section */
@media only screen and (max-width: 765px) {
  .contact-us .flex-wrapper {
    flex-wrap: wrap;
  }

  .contact-us-image,
  .contact-us-text {
    width: 100%;
  }

  /* News landing */

  .list-news-item {
    height: 80vh;
  }

  .list-news-item .flex-wrapper {
    flex-wrap: wrap;
  }

  .list-news-image,
  .list-news-story-summary {
    width: 100%;
  }

  .list-news-image {
    height: 30vh;
  }

  /* News story */

  .related-news .flex-wrapper .panel {
    height: 70vh;
  }

  /* Quote block */

  .quoteblock img {
    width: 100%;
    margin-right: 0;
  }

  .quoteblock-text {
    width: 100%;
  }

  /* Two column */

  .two-column .column {
    width: 100%;
    margin-bottom: 10vh;
  }

  /* Footer */
  @media only screen and (max-width: 765px) {
    footer .newsletter {
      flex-wrap: wrap;
    }

    footer .newsletter h3 {
      margin-bottom: 2vh;
    }

    footer .newsletter button {
      margin-bottom: 2vh;
    }

    footer .footer-links {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    footer .footer-links div {
      margin-bottom: 2vh;
      flex-wrap: wrap;
    }

    footer .footer-links div a {
      width: 100%;
      margin-bottom: 2vh;
    }

    footer .social-logo {
      width: auto !important;
    }

    footer .council-logo {
      margin-top: 2vh;
      margin-left: 0;
    }
  }
}
