/*Set theme colors*/

:root {
  --customblue: #004751;
  --customyellow: #ffb81c;
  --customlightblue: #47c7c2;
  --customgreen: #48d597;
  --custommint: #d6f1ef;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
}

.hero {
  background-color: var(--customblue);
  height: 100vh;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  width: 20vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

nav .logo a img {
  height: 7vh;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin-right: 5vw;
}

.get-in-touch {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
}

button.search {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1vw;
  border-radius: 1rem;
  color: var(--customblue);
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.hero-text {
  margin-left: 5vw;
  color: white;
  width: 40vw;
  font-family: sans-serif;
}

.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.hero-text p {
  margin-bottom: 1rem;
}

.hero-text button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
}

.hero-image {
  height: 100%;
  width: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/* Main section */
.main {
  font-family: sans-serif;
  padding: 10vh 10vw;
}

/* Intro section */
.intro-text {
  font-size: 2rem;
  margin-bottom: 10vh;
  line-height: 6vh;
}

.intro-text p {
  margin-bottom: 2vh;
}

.intro-text button {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/* Full width video */

.full-width-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 10vh;
}

.full-width-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Top figures */
.top-figures {
  margin-bottom: 10vh;
}

.top-figures .intro-text {
  color: var(--customblue);
}

.top-figures .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.figure {
  width: 30%;
  height: 30vh;
  color: var(--customblue);
  font-weight: bold;
}

.figure span {
  font-size: 5rem;
  display: block;
  margin: 3vh 0;
}

.figure.yellow {
  border-top: 5px solid var(--customyellow);
}

.figure.lightblue {
  border-top: 5px solid var(--customlightblue);
}

.figure.green {
  border-top: 5px solid var(--customgreen);
}

/* Panels */

.color-panels {
  margin-bottom: 10vh;
}

.color-panels .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.panel {
  width: 30%;
  height: 75vh;
  border-radius: 4vh;
  overflow: hidden;
  background-color: white;
}

.panel.yellow {
  background-color: var(--customyellow);
}

.panel.green {
  background-color: var(--customgreen);
}

.panel.lightblue {
  background-color: var(--customlightblue);
}

.panel-image {
  height: 50%;
}

.panel-text {
  margin: 3vh 2vw;
  color: var(--customblue);
}

.panel-text h2 {
  font-size: 2rem;
  margin-bottom: 2vh;
  font-weight: bold;
}

.panel-text p {
  font-size: 0.9rem;
  margin-bottom: 2vh;
}

.panel-text button {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

/* Homepage news */
.latest-news {
  background-color: var(--custommint);
  font-family: sans-serif;
  padding: 10vh 10vw;
  color: var(--customblue);
}

.latest-news > .latest-news-content > h2 {
  padding-top: 10vh;
  color: var(--customblue);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10vh;
}

.latest-news p {
  margin-bottom: 10vh;
}

.latest-news-content .flex-wrapper {
  justify-content: space-between;
  margin-bottom: 10vh;
}

/* Businesses carousel */
.businesses-carousel {
  display: flex;
  max-width: 100vw;
  gap: 1vw;
  margin-bottom: 10vh;
}

.businesses-carousel img {
  height: 100px;
  object-fit: contain;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
  color: var(--customblue);
}

/* Homepage contact us section */
section.contact-us {
  background-color: var(--customblue);
  font-family: sans-serif;
  padding: 10vh 10vw;
  color: white;
}
