/*Set theme colors*/

:root {
  --customblue: #004751;
  --customyellow: #ffb81c;
  --customlightblue: #77c5d5;
  --customgreen: #08d597;
  --customlightgreen: #daf7ea;
  --custommint: #d6f1ef;
  --customaqua: #00bab3;
  --customblack: #2d2926;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
}

/* Page dividers */

.bg-mint {
  width: 100%;
  background-color: var(--custommint);
}

.bg-aqua {
  width: 100%;
  background-color: var(--customaqua);
}

.bg-black {
  background-color: var(--customblack);
}

.bg-lightblue {
  width: 100%;
  background-color: var(--customlightblue);
}

.bg-green {
  width: 100%;
  background-color: var(--customgreen);
}

.bg-blue {
  width: 100%;
  background-color: var(--customblue);
}

.bg-yellow {
  width: 100%;
  background-color: var(--customyellow);
}

.mint-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_shape.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}

.aqua-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_aqua.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.black-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_black.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.lightblue-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_cyan.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.green-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_green.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.blue-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_navy.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}
.yellow-hexagon-1 {
  background-image: url(/images/page_dividers/News_background_yellow.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 0 0;
  display: block;
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
}

.blue-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

.aqua-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape_aqua.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

.black-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape_black.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

.lightblue-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape_cyan.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

.green-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape_green.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

.yellow-hexagon-2 {
  background-image: url(/images/page_dividers/Contact_us_shape_yellow.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 30vh 0vw;
  display: block;
  width: 100%;
  margin-top: 10vh;
}

/* Rich text styling */
.rich-text {
  padding: 10vh 10vw;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.rich-text p,
.rich-text a {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--customblue);
}

.rich-text.bg-black,
.rich-text.bg-black h1,
.rich-text.bg-black h2,
.rich-text.bg-black h3,
.rich-text.bg-black h4,
.rich-text.bg-black h5,
.rich-text.bg-black h6 {
  color: white;
}

.rich-text h1 {
  font-size: 3rem;
}

.rich-text h2 {
  font-size: 2.5rem;
}

.rich-text h3 {
  font-size: 2rem;
}

.rich-text h4 {
  font-size: 1.8rem;
}

.rich-text h5 {
  font-size: 1.5rem;
}

.rich-text h6 {
  font-size: 1.2rem;
}

.rich-text button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
  transition: ease-in-out 0.3s;
}

.rich-text button:hover,
.rich-text button:focus {
  color: var(--customyellow);
  background-color: var(--customblue);
  cursor: pointer;
}

/* Hero and nav */

.hero {
  background-color: var(--customblue);
  height: 100vh;
}

.hero-small {
  height: 80vh;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  width: 20vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

nav .logo a img {
  height: 7vh;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin-right: 5vw;
}

.get-in-touch {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
  transition: ease-in-out 0.3s;
}

.get-in-touch:hover {
  background-color: white;
  color: var(--customblue);
  cursor: pointer;
}

button.search {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1vw;
  border-radius: 1rem;
  color: var(--customblue);
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

button.search:hover {
  background-color: var(--customyellow);
  color: var(--customblue);
  cursor: pointer;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.hero-content-small {
  height: 70vh;
}

.hero-text {
  margin-left: 5vw;
  color: white;
  width: 40vw;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.hero-text p {
  margin-bottom: 1rem;
}

.hero-text button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
  transition: ease-in-out 0.3s;
}

.hero-text button:hover {
  background-color: white;
  color: var(--customblue);
  cursor: pointer;
}

.hero-image {
  height: 100%;
  width: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Main section */
.main {
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 10vw;
}

/* Intro section */

h2.intro-text {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto 10vw;
  margin-bottom: 5vh;
}

p.intro-text {
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin: auto 10vw;
  margin-bottom: 5vh;
  font-size: 2rem;
}

a.intro-text {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 1rem;
  transition: ease-in-out 0.3s;
  font-size: 0.9rem;
  text-decoration: none;
  margin: auto 10vw;
}

a.intro-text:hover {
  background-color: var(--customyellow);
  color: var(--customblue);
  cursor: pointer;
}

.rich-text.bg-black a.intro-text {
  background-color: var(--customyellow);
  color: var(--customblue);
}

.rich-text.bg-black a.intro-text:hover {
  background-color: white;
  text-decoration: underline;
}

/* Video modal */

.video-modal-wrapper {
  padding: 10vh 0;
}

.video-modal-thumbnail {
  margin: 0 20vw;
  width: 60vw;
  height: 20vw;
  background-image: url(/images/placeholder-image-gray-16x9-1.webp);
  background-size: contain;
  text-align: center;
  font-size: 3rem;
  padding-top: 15vw;
  color: rgba(255, 255, 255, 0.8);
}

.video-modal-thumbnail:hover {
  cursor: pointer;
}

.video-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.video-modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  height: 80%;
  border: 0;
}

.video-modal button {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 3rem;
  background: none;
  border: none;
  color: white;
}

.video-modal button:hover {
  cursor: pointer;
}

/* Full width video */

.full-width-video {
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  margin-bottom: 10vh;
}

.full-width-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10vh 20vw;
  width: 60vw;
  height: 60vh;
  border: 0;
}

/* Embedded map */
.map {
  padding: 10vh 10vw;
}

/* Top figures */
.top-figures {
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin-bottom: 10vh;
  padding: 10vh 10vw;
}

.top-figures > p {
  color: var(--customblue);
  margin-bottom: 5vh;
}

.top-figures.bg-black > p,
.top-figures.bg-black .figure {
  color: white;
}

.top-figures .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.figure {
  width: 30%;
  height: 30vh;
  color: var(--customblue);
  font-weight: bold;
}

.figure span {
  font-size: 5rem;
  display: block;
  margin: 3vh 0;
}

.figure.yellow {
  border-top: 5px solid var(--customyellow);
}

.figure.lightblue {
  border-top: 5px solid var(--customlightblue);
}

.figure.green {
  border-top: 5px solid var(--customgreen);
}

/* Panels */

.color-panels {
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 10vw;
  margin-bottom: 10vh;
}

.color-panels .flex-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.panel {
  width: 30%;
  height: 75vh;
  border-radius: 4vh;
  overflow: hidden;
  background-color: white;
}

.panel.yellow {
  background-color: var(--customyellow);
}

.panel.green {
  background-color: var(--customgreen);
}

.panel.lightblue {
  background-color: var(--customlightblue);
}

.panel-image {
  height: 50%;
}

.panel-text {
  margin: 3vh 2vw;
  color: var(--customblue);
}

.panel-text h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 2rem;
  margin-bottom: 2vh;
  font-weight: bold;
}

.panel-text p {
  font-size: 0.9rem;
  margin-bottom: 3vh;
}

.panel-text a {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 1rem;
  transition: ease-in-out 0.3s;
  font-size: 0.9rem;
  text-decoration: none;
}

.panel-text a:hover {
  background-color: white;
  color: var(--customblue);
  cursor: pointer;
}

/* Homepage news */
.latest-news {
  background-image: url(/images/page_dividers/News_background_shape.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 10vh 10vw;
  color: var(--customblue);
  padding-bottom: 40vh;
}

.latest-news > .latest-news-content > h2 {
  padding-top: 10vh;
  color: var(--customblue);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10vh;
}

.latest-news p {
  margin-bottom: 5vh;
}

.latest-news-content .flex-wrapper {
  justify-content: space-between;
  margin-bottom: 10vh;
}

/* Businesses carousel */
.carousel-heading {
  color: var(--customblue);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 3vh 10vw;
}

.businesses-carousel {
  display: flex;
  max-width: 100vw;
  gap: 1vw;
  margin: 0 10vw;
  padding: 10vh 0;
  margin-bottom: 10vh;
}

.businesses-carousel img {
  height: 100px;
  object-fit: contain;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
  color: var(--customblue);
}

/* Image carousel */

.image-carousel {
  display: flex;
  max-width: 100vw;
  gap: 1vw;
  margin: 0 10vw;
  padding: 10vh 0;
  margin-bottom: 10vh;
}

.image-carousel img {
  height: 200px;
  object-fit: contain;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
  color: var(--customblue);
}

/* Accordion */

.accordion-container {
  padding: 10vh 10vw;
}

.accordion-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--customblue);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--customblue);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active {
  background-color: var(--customyellow);
  color: var(--customblue);
}

.accordion:hover {
  background-color: var(--customlightblue);
  color: var(--customblue);
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-panel p {
  padding: 1rem;
}
/* Homepage contact us section */
section.contact-us {
  background-image: url(/images/page_dividers/Contact_us_shape.svg);
  background-size: cover;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding: 16vh 10vw 0vw;
  color: white;
  z-index: 999;
  margin-top: -40vh;
}

.contact-us .flex-wrapper {
  justify-content: space-between;
}

.contact-us h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2vh;
}

.contact-us p {
  margin-bottom: 2vh;
}

.contact-us button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
  transition: ease-in-out 0.3s;
}
.contact-us button:hover {
  color: var(--customblue);
  background-color: white;
  cursor: pointer;
}

.contact-us-image,
.contact-us-text {
  width: 50%;
}

.contact-us-image img {
  width: 80%;
  margin-left: 10%;
}

.contact-us-text {
  padding: 5vw;
}

/* Footer */

footer {
  padding: 10vh;
  margin-top: -1vh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  background-color: var(--customblue);
  overflow: hidden;
  color: white;
}

footer hr {
  color: white;
  margin-bottom: 5vh;
}

footer .newsletter {
  justify-content: start;
  align-items: center;
  margin-bottom: 3vh;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2vw;
}

footer button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
  transition: ease-in-out 0.3s;
}

footer button:hover {
  background-color: white;
  color: var(--customblue);
  cursor: pointer;
}

footer .footer-links {
  margin-bottom: 3vh;
  justify-content: space-between;
  align-items: center;
}

footer .footer-links a {
  color: white;
  margin-right: 25px;
}

footer .footer-links p {
  display: inline-block;
}

footer .council-logo {
  margin-left: 25px;
}

/* Mobile menu */

#open-mobile-menu {
  display: none;
}

#mobile-menu {
  display: none;
}

/* News landing */

.list-news-content {
  display: block;
  background-color: var(--custommint);
  padding: 0 10vw 40vh;
}

.list-news-item {
  height: 50vh;
  width: 100%;
  background-color: white;
  border-radius: 4vh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin-bottom: 10vh;
}

.list-news-image,
.list-news-story-summary {
  height: 50vh;
  width: 50%;
}

.list-news-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4vh;
}

.list-news-story-summary {
  padding: 3vh;
}

.list-news-story-date {
  color: var(--customblue);
  margin-bottom: 1vh;
  display: block;
}

.list-news-story-summary h2 {
  font-size: 2.5rem;
  color: var(--customblue);
  font-weight: bold;
  margin-bottom: 3vh;
}

.list-news-story-summary p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.list-news-pagination a {
  font-family: "neue-haas-grotesk-display", sans-serif;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 100%;
  margin-left: 10px;
  border: none;
  text-align: center;
  background-color: lightgray;
  transition: ease-in-out 0.3s;
}

.list-news-pagination a:hover {
  cursor: pointer;
  color: var(--customblue);
  background-color: var(--customyellow);
}

.list-news-pagination .current-page {
  background-color: var(--customblue);
  color: white;
}

.page-button {
  text-decoration: none !important;
}

/* News story page */

.hero-none {
  height: 10vh;
}

.news-content {
  padding: 10vh 10vw;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1.2rem;
  max-width: 1000px;
}

.news-story-date {
  display: block;
  color: var(--customblue);
  margin-bottom: 5vh;
}

.news-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--customblue);
  margin-bottom: 5rem;
}

.news-content h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--customblue);
  margin: 2rem 0;
}

.news-content p {
  margin-bottom: 1rem;
}

.news-content figure {
  margin-bottom: 5vh;
  color: var(--customblue);
}

figure {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--customblue);
}

.one-image {
  padding: 10vh 10vw;
}

.one-image img {
  width: 100%;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.two-images .flex-wrapper {
  justify-content: space-around;
}

.two-images {
  padding: 10vh 10vw;
}

.two-images img {
  display: inline-block;
  width: 48%;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.quoteblock {
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin: 10vh 10vw;
  background-color: var(--customlightgreen);
  padding: 4vh;
  border-radius: 4vh;
  color: var(--customblue);
  margin-bottom: 5vh;
}

.quotemark {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 10rem;
  margin-right: 3rem;
}

.quoteblock p {
  margin-bottom: 1rem;
}

.quoteblock img {
  max-height: 100px;
  margin-right: 25px;
}

.author {
  font-weight: bold;
}

.related-news {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--customblue);
  display: block;
  background-color: var(--custommint);
  padding: 0 10vw 40vh;
}

.related-news h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5vh;
}

.related-news .flex-wrapper {
  justify-content: space-between;
  margin-bottom: 10vh;
}

.related-news .flex-wrapper .panel {
  height: 50vh;
}

/* Left-right logos section */

.left-right {
  display: block;
  background-color: var(--custommint);
  padding: 10vh 10vw;
}

.left,
.right {
  justify-content: space-around;
  margin-bottom: 10vh;
}

.right {
  flex-direction: row-reverse;
}

.left > img,
.right > img {
  object-fit: cover;
  width: 20vw;
}

.left-right-content {
  font-family: "neue-haas-grotesk-display", sans-serif;
  width: 50vw;
  color: var(--customblue);
}

.left-right-content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.left-right-content p {
  margin-bottom: 1rem;
}

.left-right-content a {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 1rem;
  transition: ease-in-out 0.3s;
  font-size: 0.9rem;
  text-decoration: none;
}

.left-right-content a:hover {
  cursor: pointer;
  color: var(--customblue);
  background-color: var(--customyellow);
}

.left-right-icons {
  width: 30%;
}

.left-right-icons img {
  width: 100%;
}
