/*Set theme colors*/

:root {
  --customblue: #004751;
  --customyellow: #ffb81c;
  --customlightblue: #47c7c2;
  --customgreen: #48d597;
  --custommint: #d6f1ef;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.hero {
  background-color: var(--customblue);
  height: 100vh;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  width: 20vw;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin-right: 5vw;
}

.get-in-touch {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
}

button.search {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1vw;
  border-radius: 1rem;
  color: var(--customblue);
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.hero-text {
  margin-left: 5vw;
  color: white;
  width: 40vw;
  font-family: sans-serif;
}

.hero-text h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.hero-text p {
  margin-bottom: 1rem;
}

.hero-text button {
  background-color: var(--customyellow);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--customblue);
}

.hero-image {
  margin-top: 20vh;
  height: 100%;
  width: 60vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Main section */
.main {
  font-family: sans-serif;
  padding: 10vh 10vw;
}

.intro-text {
  font-size: 2rem;
  margin-bottom: 10vh;
}

.intro-text p {
  margin-bottom: 2vh;
}

.intro-text button {
  background-color: var(--customblue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.full-width-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.full-width-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
